
fastapi==0.115.12
uvicorn==0.34.2
requests==2.32.3
langchain==0.3.24
langchain-community==0.3.23
transformers==4.35.2
pydantic==2.7.4
jinja2==3.1.6
python-multipart==0.0.20
pyodbc==5.2.0
autocorrect==2.6.1
openai==1.76.0
python-dotenv==1.1.0
thinc==8.2.2
spacy==3.7.4
langchain-core==0.3.56
google-genai==1.12.1
numpy==1.26.4
scikit-learn==1.6.1
pandas==2.2.2
torch==2.1.2
torchvision==0.16.2